body {
 background-color: rgb(235, 16, 188);
 color: rgb (200,120,10);
 margin: 2px;
}

header { border-bottom: solid 2px rgb(255, 6, 6);
 padding: 20px;
 font-size: 32px;
 color: rgb(200, 132, 30);
}

.chamada {
    background-color: rgb(27, 226, 226);
    border-bottom: solid 2px rgb(269, rgb(170, 150, 37), rgb(102, 102, 235));
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;

}

.chamada-texto {margin-right: 5% ;
}

h1 {font-size: 40px;} 
img{heigt:200px}
.categoria-vídeo {
        display: flex;
        overflow-x:auto;
        gap: 10px; }
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}